{% extends 'project_modules/index.html' %}

{% block title %}
    Сменя пароля
{%  endblock %}

{% block content %}
    <h2>Поменять пароль</h2>
    <div class="center-content">
        <form method="post" action="{% url 'app_users:change_password' %}">
            {% include 'app_users/templates_for_include/login_register_form.html' with form=form%}
            <button type="submit" aria-label="Поменять пароль" title="Поменять пароль">Поменять пароль</button>
        </form>
    </div>
{% endblock %}