{% extends 'project_modules/index.html' %}

{% block title %}
    {% if request.user.is_authenticated %}
        Личный кабинет {{ request.user.username }}
    {% else %}
        Вы еще не авторизованы
    {% endif %}
{%  endblock %}

{% block content %}
    <div class="center-content">
        <div class="center-content center-content_greeting">
        {% if request.user.is_authenticated %}
            <h2>Личная информация</h2>

            <div class="center-content center-content_with-border">
                <a href="{% url 'app_users:change_password' %}" class="update-link update-link_dark-theme">Поменять пароль</a>
                {% if pass_successfully_changed %}
                    <p>Пароль успешно изменен</p>
                {% endif %}
            </div>

            {% url 'app_users:update_username' pk=request.user.pk as username_update_url%}
            {% include 'app_users/templates_for_include/profile_settings_field.html' with settings_label='Имя пользователя' settings_value=request.user.username form=username_form url=username_update_url %}

            {% url 'app_users:update_email' pk=request.user.profile.pk as email_update_url %}
            {% include 'app_users/templates_for_include/profile_settings_field.html' with settings_label='Электронная почта' settings_value=request.user.email form=email_form url=email_update_url %}

            {% url 'app_users:update_city' pk=request.user.profile.pk as city_update_url%}
            {% include 'app_users/templates_for_include/profile_settings_field.html' with settings_label='Город' settings_value=request.user.profile.city form=city_form url=city_update_url %}

            {% url 'app_users:update_telephone' pk=request.user.profile.pk as telephone_update_url%}
            {% include 'app_users/templates_for_include/profile_settings_field.html' with settings_label='Номер телефона' settings_value=request.user.profile.telephone form=telephone_form url=telephone_update_url %}

            <div class="center-content center-content_with-border">
                <div class="settings-line">
                    <p class="settings-line__item_label">Количество созданных новостей:</p>
                    <p class="settings-line__item_value">{{ request.user.profile.number_of_published_news }}</p>
                    {% if request.user.profile.number_of_published_news > 0%}
                        <a class="update-link update-link_dark-theme" href="{% url 'app_news:personal_news_list' %}" aria-label="Личные новости" title="Личные новости">Список своих новостей</a>
                    {% endif %}
                </div>
            </div>
            <div class="center-content">
                {% if request.user.profile.is_verified %}
                    <a class="update-link update-link_dark-theme" href="{% url 'app_news:news_create'%}" aria-label="Создать новостную сводку" title="Создать новостную сводку">Вам разрешено добавлять новости</a>
                {% else %}
                    <p>Вам не разрешено добавлять новости, обратитесь к администратору</p>
                {% endif %}
            </div>
        {% else %}
            <h2>Вы еще не авторизованы</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}