{% extends 'project_modules/index.html' %}

{% block title %}
    Регистрация на новостной портале
{%  endblock %}

{% block content %}
    <h2>Регистрация на сайте</h2>
    <div class="center-content">
        <form method="post" action="{% url 'app_users:register' %}">
            {% include 'app_users/templates_for_include/login_register_form.html' %}
            <button type="submit" aria-label="Зарегистрироваться" title="Зарегистрироваться">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}